{% extends 'base.html' %}
{% block title %}Projects - {{ nickname }}{% endblock %}
{% block content %}
<main>
  <section class="projects-page-section">
    <div class="page-title-container">
      <h1 class="fade-up-element">Projects</h1>
      <div class="page-title-button-container">
        <form method="get"
              action="{% url 'main:show_projects' %}"
              class="search fade-up-element">
          <input type="search"
                 name="title"
                 value="{{ title_query }}"
                 placeholder="Cari berdasarkan nama proyek"
                 class="search__input fade-up-element"
                 aria-label="Cari berdasarkan nama proyek">
          <button type="submit" class="button">Cari</button>
        </form>
        <a href="{% url 'main:create_project' %}"
           class="button fade-up-element">
          <span aria-hidden="true">+</span>
          Tambah Proyek
        </a>
      </div>
    </div>
    <div class="projects-container">
      {% for project in project_list %}
      <div class="projects-page-content-container">
        {% if project.image_link %}
        <img src="{{ project.image_link }}"
             alt="{{ project.title }} Web Preview"
             class="projects-image fade-up-element-scroll">
        {% endif %}
        <div class="projects-page-text-container">
          {% if project.web_link %}
          <a class="fade-up-element-scroll projects-title" href="{{ project.web_link }}" target="_blank">{{ project.title }}</a>
          {% else %}
          <a class="fade-up-element-scroll projects-title" href="https://github.com/RisyadAthaya" target="_blank">{{ project.title }}</a>
          {% endif %}
          <p class="fade-up-element-scroll projects-desc">{{ project.description }}</p>
        </div>
        {% include "components/project_delete_modal.html" with project=project %}
      </div>
      {% empty %}
      {% if title_query %}
      <p class="empty-state">There's currently no project with that name!</p>
      {% else %}
      <p class="empty-state">Work in progress. Please wait for it!</p>
      {% endif %}
      {% endfor %}
    </div>
  </section>
</main>
{% endblock %}