<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Experience - {{ nickname }}</title>
  <link rel="icon" href="/static/svg/favicon.svg" type="image/svg+xml" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <header class="site-header">
    <div class="container">
      <!-- Untuk header dan footer menggunakan nickname for design purpose -->
      <a href="{% url 'main:show_main' %}" class="brand">{{ nickname }}</a>
      <nav>
        <a class="header-text" href="{% url 'main:show_main' %}">Profile</a>
        <a class="header-text" href="{% url 'main:show_experience' %}">Experience</a>
        <a class="header-text" href="{% url 'main:show_projects' %}">Projects</a>
      </nav>
    </div>
  </header>

  <main>
    <section class="projects-page-section">
      <h1>Projects</h1>
      <div class="experience-page-grid">
        {% for project in project_list %}
<!--        <article class="experience-page-card">-->
<!--                        <span class="experience-page-category">-->
<!--                            {{ experience.get_category_display }}-->
<!--                        </span>-->
<!--          <h2>{{ experience.title }}</h2>-->
<!--          <p class="experience-page-description">-->
<!--            {{ experience.description }}-->
<!--          </p>-->
<!--        </article>-->
        <div>
          <div class="projects-content-container">
            <img class="projects-image fade-up-element-scroll" src="{{ project.image_path }}" alt="{{ project.title }} Web Preview">
            <a class="fade-up-element-scroll projects-title" href="{{ project.web_link }}" target="_blank">{{ project.title }}</a>
            <p>{{ project.description }}</p>
          </div>
        </div>
        {% empty %}
        <p class="empty-state">
          Work in progress. Please wait for it!
        </p>
        {% endfor %}
      </div>
    </section>
  </main>

  <footer class="site-footer">
    <div class="container">
      <p>&copy; 2026 {{ nickname }}. Fakultas Ilmu Komputer, Universitas Indonesia.</p>
    </div>
  </footer>
</body>
</html>