<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Experience - {{ nickname }}</title>
  <link rel="icon" href="/static/svg/favicon.svg" type="image/svg+xml" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header class="site-header">
  <div class="container">
    <!-- Untuk header dan footer menggunakan nickname for design purpose -->
    <a href="{% url 'main:show_main' %}" class="brand">{{ nickname }}</a>
    <nav>
      <a class="header-text" href="{% url 'main:show_main' %}">Profile</a>
      <a class="header-text" href="{% url 'main:show_experience' %}">Experience</a>
      <a class="header-text" href="{% url 'main:show_projects' %}">Projects</a>
    </nav>
  </div>
</header>

<main>
</main>

<footer class="site-footer">
  <div class="container">
    <p>&copy; 2026 {{ nickname }}. Fakultas Ilmu Komputer, Universitas Indonesia.</p>
  </div>
</footer>
</body>
</html>